
.titlePartner{
    background-color: rgb(3, 5, 4);
    color: aliceblue;
    text-decoration: bold;
    font-family: "Segoe UI";
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}