.titleOfTheTable {
    width: 100vw;
    text-align: center;
}



.GlobalProductTable {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: scroll;
}

@media(min-width: 767px) {
    .GlobalProductTable {
        align-items: center;
    }
}


.Table {
    width: 100%;
    max-width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    /* min-width: 600px; */
}

.theadTable {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: rgb(228, 225, 225);

}

.tbodyTable {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.columnNameProduct {
    text-align: center;
    border: 1px solid black;
    width: 30%;
    min-width: 100px;
}

.columnCategory{
    width: 30%;
    min-width: 100px;
    border: 1px solid black;
}

.columnPrice{
    width: 30%;
    min-width: 100px;
    border: 1px solid black;
}