
.filter{
    /* width: 100vw; */
    height: 100%;
    background-color: rgb(158, 231, 232);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    /* min-width: 603px; */
}


