
.prueba{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonPagination{
    /* margin-top: 15px ; */
    width: 30px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
